<div class="search-container" id="globalsearch" onclick="toggleSearch()">
    <div class="search-box">
        <input type="search" id="term" placeholder="Pesquisar...">
        <div id="search-results"></div>
        <footer class="search-box-footer">
            <div class="navigation-hint">
                <i  icon-name="corner-down-left" aria-hidden="true"></i>
                <span> Selecionar</span>
            </div>

            <div class="navigation-hint align-icon">
                <i  icon-name="arrow-up" aria-hidden="true"></i>
                <i  icon-name="arrow-down" aria-hidden="true"></i>
                <span> Navegar</span>
            </div>

            <div class="navigation-hint">
                <span>ESC </span>
                <i  icon-name="x" aria-hidden="true"></i>
            </div>

        </footer>
    </div>
</div>
{%include "components/searchScript.njk"%}